body {
  background-color: #f3f3f3 !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif, "Microsoft Yahei",
    "微软雅黑";
}

#page-container {
  align-self: center;
}

.ET-ViewPage .MuiTypography-subtitle2,
.ET-ViewContainer .MuiTypography-subtitle2 {
  font-weight: bold;
}
