# ==============================================================================
# 服务专属配置模板 (.env.secrets)
# ==============================================================================

# ------------------------------------------------------------------------------
# 协调器密钥 (SmartERPCoordinator)
# ------------------------------------------------------------------------------
SmartERPCoordinator__PrivateKey=#x6Yz8p#rKK4wrvUG!v=GxBYvF@tSLy~

# ------------------------------------------------------------------------------
# 后台定时任务 CRON 表达式 (Worker Tasks)
# ------------------------------------------------------------------------------
# Every 5 minutes
AssetCheckWorker__Cron=*/5 * * * *
# Every 2 days at 1:30 AM
AssetExiryWorker__Cron=30 1 */2 * *
# Every day at midnight
OrgAggregationWorker__Cron=0 0 * * *

# ------------------------------------------------------------------------------
# 短信服务配置 (SMSClient)
# ------------------------------------------------------------------------------
SMSClient__SMSUser=YOUR_SMS_USER
SMSClient__SMSKey=YOUR_SMS_KEY
SMSClient__Region=CN

# 模板 0
SMSClient__Templates__0__Kind=Code
SMSClient__Templates__0__TemplateId=762226
SMSClient__Templates__0__Region=CN
SMSClient__Templates__0__Languages__0=zh-CN
SMSClient__Templates__0__Languages__1=zh-Hans
SMSClient__Templates__0__Default=true

# 模板 1
SMSClient__Templates__1__Kind=Code
SMSClient__Templates__1__TemplateId=762227
SMSClient__Templates__1__Default=true

# ------------------------------------------------------------------------------
# 邮件服务配置 (SMTPClient)
# ------------------------------------------------------------------------------
SMTPClient__Host=email-smtp.us-east-1.amazonaws.com
SMTPClient__Port=465
SMTPClient__UseSsl=true
SMTPClient__Sender=ETSOO <info@etsoo.com>
SMTPClient__UserName=YOUR_SMTP_USERNAME
SMTPClient__Password=YOUR_SMTP_PASSWORD