# ==============================================================================
# 服务专属配置模板 (.env.secrets)
# ==============================================================================

# ------------------------------------------------------------------------------
# 消息队列消费者配置 (RabbitMQConsumer)
# ------------------------------------------------------------------------------
RabbitMQConsumer__HostName=rabbitmq-service.rabbitmq-system.svc.cluster.local
RabbitMQConsumer__Port=5672
RabbitMQConsumer__QueueName=SmartERP
RabbitMQConsumer__Durable=true
RabbitMQConsumer__UserName=YOUR_RABBITMQ_USERNAME
RabbitMQConsumer__Password=YOUR_RABBITMQ_PASSWORD

# ------------------------------------------------------------------------------
# 消息队列 (RabbitMQProducer) Override
# ------------------------------------------------------------------------------
RabbitMQProducer__QueueName=SmartERPCRM